.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 880px;
    margin-bottom: 51px;
}

@media screen and (max-width: 580px) {
    .profile {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 282px;
        margin-bottom: 36px;
    }
}