.elements__grid {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 17px;
    row-gap: 20px;
    overflow: hidden;
}

@media screen and (max-width: 879px) {
    .elements__grid {
        grid-template-columns: repeat(2, auto);
        justify-content: center;
       
    }
}

@media screen and (max-width: 580px) {
    .elements__grid {
        grid-template-columns: repeat(1, auto);
        justify-content: center;
        column-gap: 0px;
        
    }
}