.elements__subscription {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    width: 246px;
    justify-content: space-between;
    margin: 25px auto 25px;
}