.popup__field-one {
    border: none; 
    outline: none;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #000000;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 0 0 13px;
    margin: 0 0 30px;
    width: 100%;
}