.profile__header-wrap {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 8px;
    
}

@media screen and (max-width: 580px) {
    .profile__header-wrap {
        margin-bottom: 7px;
    }
}

