.footer {
    box-sizing: border-box;
    max-width: 880px;
    padding-bottom: 60px;
    margin: 0 auto;
}

@media screen and (max-width: 580px) {
    .footer {
        padding: 0 19px 36px;
    }
}

@media screen and (max-width: 900px) {
    .footer {
        padding: 0 27px 60px;
    }
}